{% extends 'base.html' %}
{% block content %}
{% include "navbar_blank.html" %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" class="form-control" name="subject" id="subject" placeholder="제목을 입력하세요."
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea placeholder="내용을 입력하세요." class="form-control" name="content"
                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
      <div class="align-right">
        <button type="submit" class="btn btn-primary">저장하기</button>
      </div>
    </form>
</div>
{% endblock %}

