.btn-primary {
  background-color: #4ADAC4;
  border-color: #4ADAC4;
}

.btn-primary:hover {
  background-color: #4ADAC4;
  border-color: #4ADAC4;
}

.page-item.active .page-link {
  background-color: #4ADAC4;
  border-color: #4ADAC4;
}

.page-link {
  color: #4ADAC4;
}

.page-link:hover {
  color: #4ADAC4;
}

a {
  color: #212529;
  text-decoration: none;
}

a:hover {
  color: #4ADAC4;
  text-decoration: none;
}

#table-color {
  background-color: #FFFFFF;
  border: 2px solid #DEE2E6;
  color: #b1b5b9;
  font-weight: 100;
}

.table {
  border-left: 1px;
  border-right: 1px;
}

#btn_search {
  color: #4ADAC4;
  border-color: #4ADAC4;
}

#btn_search:hover {
  color: #ffffff;
  border-color: #4ADAC4;
  background-color: #4ADAC4;
}

.navbar-brand {
  margin-left: 1rem;
}

#btn_search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media only screen and (max-device-width: 480px) {
  
.navbar-brand {
  margin-left: 0;
}
  
}