body {
  margin-top: 57px;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.btn-primary {
  background-color: #4ADAC4;
  border-color: #4ADAC4;
}

.btn-primary:hover {
  background-color: #4ADAC4;
  border-color: #4ADAC4;
}

.btn-primary-main {
  background-color: #F9F9F9;
  border-color: #D5D5D5;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  width: 120px;
  font-weight: 700;
  color: #373737;
  z-index: 1000;
}

.btn-login {
  background-color: #4ADAC4;
  border-color: #4ADAC4;
  color: white;
}

h2.border-bottom {
  border-bottom: none !important;
}

.card-body-custom {
  flex: 1 1 auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee2e6!important;
}

#content.form-control{
  line-height: 0.5;
  border-radius: 10px;
}

.py-2-custom {
  padding-top: .5rem!important;
  padding-bottom: 0.5rem!important;
}

/* .outer {
  margin: 0 auto;
} */

/* input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
} */

.login-btn {
    margin: auto !important;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 360px;
    display: block;
}

.icons {
  margin-left: 5px;
  width: 12px;
}

.bg-light {
    background-color: white !important;
}

.page-item.active .page-link {
  background-color: #4ADAC4;
  border-color: #4ADAC4;
}

.page-link {
  color: #4ADAC4;
  border-color: #4ADAC4;
}

.page-link:hover {
  color: #4ADAC4;
}

a {
  color: #212529;
  text-decoration: none;
}

a:hover {
  color: #4ADAC4;
  text-decoration: none;
}

#table-color {
  background-color: #FFFFFF;
  border: 2px solid #DEE2E6;
  color: #b1b5b9;
  font-weight: 100;
}

.table {
  border-left: 1px;
  border-right: 1px;
  padding-top: 25px;
}

#btn_search {
  color: #4ADAC4;
  border-color: #4ADAC4;
}

#btn_search:hover {
  color: #ffffff;
  border-color: #4ADAC4;
  background-color: #4ADAC4;
}

.navbar-brand {
  margin-left: 1rem;
}

#btn_search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

p.text-success {
  color: #0CA5AF !important;
}

p.subject {
  margin: 0;
  padding: 0;
  overflow:hidden;
  width: 280px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subtext {
  color: #5B5B5D;
  font-size: 14px;
  margin-bottom: 5px;
  overflow:hidden;
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 0;
}

.text-voter {
  color: #c62917!important;
}

.mx-2 {
    margin-right: 0!important;
}

td {
  color: #B1B5B9;
}

p.time {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 14px;
}

/* .navbar-light .navbar-toggler-icon {
  background-image: url("img/menu-icon.svg");
} */


.search-bar {
  float: right;
  width: 40%;
}

.forum-menu {
  display: inline;
  padding: 0;
  margin-left: 0.75rem;
}

.menu-space {
  padding-top: 10px;
  padding-bottom: 18px;
  position: fixed;
  display: none;
  background: white;
  width: 100%;
}

.navbar {
  padding-bottom: 1rem;
  padding-top: 1rem;
  z-index: 1000;
}

li {
  list-style-type: none;
  display: inline;
  margin-left: 0; 
  padding-left: 0.5rem;
/*   padding-left: 1rem; */
}

/* .create-button {
  position: fixed;
  margin: auto;
  width: 50%;
  left: 50%;
  bottom: 24px;
  top: auto;
  left: auto;
  z-index: 1000;
} */

.menu-space-top {
  padding-top: 10px;
}


/* #navigation {
  position: fixed;
} */

.menu-nav {
  color: #A6A6A5;
  font-size: 18px;
/*   padding: 0.5rem; */
}

.form-control-id {
    display: block;
    width: 360px;
    padding: 0.4rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: auto;
}

.login-margin {
  margin-bottom: 5px;
}

.login-box {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.intro-logo {
  margin-bottom: 15px;
  width: 360px;
  height: 60px;
  background: url("img/intro-logo.svg") no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.intro-logo-signup {
  margin-bottom: 15px;
  width: 360px;
  height: 60px;
  background: url("img/intro-logo-signup.svg") no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.register {
  clear: both;
  padding-top: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #a6a6a6;
  font-size: 16px;
}

.register a {
  color: #4ADAC4;
  font-size: 16px;
  font-weight: bold;
}

a.nav-link {
  font-weight: 700;
}


.bold-navtext {
  padding-bottom: 3px; 
  border-bottom: 3px solid #4ADAC4; 
  font-weight: 500;
}

.alert-danger {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.alert-success {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.errorlist {
  margin-bottom: 5px;
}

.searchbar {
  height: 38px;
}

.input-label {
  display: block;
  font-weight: 600;
  color: #818181;
  margin-left: auto;
}

.mb-3 p {
  margin: 0;
  padding: 0;
  width: 360px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: red; */

.signup-box {
  width: 360px;
}


/* #corner-img {
  position: relative;
  float: right;
} */

.answer-dark {
  background-color: #F9F9F9;
  display: inline-block;
  width: calc(100% - 20px);
/*   position: relative; */
/*   float: right; */
}

#page-link-before {
  position: relative;
  float: left;
  padding: 0.375rem 0.75rem;
  display: block;
   text-decoration: none;
  background-color: #fff;
/*   border: 1px solid #4ADAC4; */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: 4px;
}

#page-link-next {
  position: relative;
  float: right;
  padding: 0.375rem 0.75rem;
  display: block;
  text-decoration: none;
  background-color: #fff;
/*   border: 1px solid #4ADAC4; */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: 4px;
}

ul.pagination{
  margin-bottom: 5rem;
}

/* .comments {
  width: calc(80% - 55px);
  float: right;
  position: relative;
} */


.main-logo {
  background: url("img/main-logo.svg") no-repeat;
}

.align-right {
  position: relative;
  float: right;
}


.my-3-custom {
  margin-top: 1rem!important;
  margin-bottom: 0;
  position: relative;
  float: right;
}

@media only screen and (max-device-width: 480px) {

.navbar-brand {
  margin-left: 7px;
}

td {
  color: #B1B5B9
}

/* .form-control-id {
  width: 90%;
} */

.mb-3 {
    margin-bottom: 5px !important;
}

.border-bottom {
    border-bottom: none !important;
}


.btn-primary-main {
  bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  width: 120px;
  font-weight: 700;
  color: #373737;
}

.menu-space {
  display: block;
}

.navbar {
  padding-bottom: 1rem;
/*   padding-top: 1rem; */
}

.navbar-toggler {
  display: none;
}

.nav-item{
  display: none;
}

ul.pagination{
  margin-bottom: 3rem;
}

.table {
  padding-top: 50px;
}



}
