<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" id="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="/bu">
          {% if user.is_authenticated %}
            <img src="/static/img/logo-bu.svg">
          {% else %}
            <img src="/static/img/main-logo.svg">
          {% endif %}
        </a>
        {% if user.is_authenticated %}
<!--         <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            
            <span class="navbar-toggler-icon"></span>
        </button> -->
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--                 <li class="nav-item">
                  {% if user.is_authenticated %}
                  <a class="nav-link" href="/bu"> 자유게시판 </a>
                  {% endif %}
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                    {% endif %}
                  </li> -->
<!--                 <li>
                    {% if not user.is_authenticated %}
                    <a class="nav-link" href="{% url 'common:signup' %}">회원가입</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="/bu/info"> 정보게시판 </a>
                    {% endif %}
                </li> -->
<!--                 <li>
                  {% if user.is_authenticated %}
                  <a class="nav-link" href="/bu/pr"> 홍보게시판 </a>
                  {% endif %}
                </li>
                <li>
                  {% if user.is_authenticated %}
                  <a class="nav-link" href="/bu/sale"> 장터게시판 </a>
                  {% endif %}
                </li> --> 
                {% if user.is_authenticated %}
                <li class="nav-item">
                <span class="bold-navtext">
                <a class="nav-link" href="/bu" style="color: #4ADAC4; padding-bottom: 3px; font-weight: bold;">전체</a>
                </span>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/bu/free">자유게시판</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/bu/info">정보게시판</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/bu/pr">홍보게시판</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/bu/sale">장터게시판</a>
                </li>
<!--                 <li class="nav-item">
                <a class="nav-link" href="{% url 'common:logout' %}" style="font-weight:normal; padding-right:123px;">로그아웃</a>
                </li> -->
                {% endif %}
            </ul>
        </div>
      
      <div class="other-menu">
        <a href="javascript:void(0)" data-uri="{% url 'common:logout' %}" class="log-out">
          <img src="/static/img/menu-kebab.svg" height="22" class="other-menu-item1">
        </a>
        <a href="/bu/search">
          <img src="/static/img/search.svg" id="open-search" class="other-menu-item2">
        </a>
      </div>
      
    </div>
</nav>

<script>

const log_out = document.getElementsByClassName("log-out");
Array.from(log_out).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("로그아웃 하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
  
</script>

